<p>
  {{quote.description}}</p>
<p> Author:{{quote.author}}</p>
<p> Submitted by:{{quote.submittedby}}</p>
<p> (Posted {{quote.completeDate|dateCount}} days ago)</p>

<div>
  <!-- <span class="span2"><i class="fa fa-thumbs-up" (click)="upVotes()"></i></span>
{{quote.upvotes}} -->
  <a (click)="likeButtonClick()" ><i class="fa fa-thumbs-up span2"></i></a> {{upVotes}}
  <a (click)="dislikeButtonClick()"><i class="fa fa-thumbs-down span"></i></a>{{downVotes}}
  <!-- <span class="span"><i class="fa fa-thumbs-down"(click)="downotes()" ></i></span>
{{quote.downvotes}} -->
</div>
<button (click)='quoteDelete(true)' style="margin-left: 30%">Delete Quote</button>
