/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Patrick Hand', cursive;
    background-image: url('https://cdn.pixabay.com/photo/2015/10/14/12/50/shell-987602_960_720.jpg');
    background-size: cover;
}
.card{
    margin-bottom: 2%;
}
.h1{
    color: aqua;
}
.h{
    font-size:29px ;
}
.span{
    color:red;
}
.span2{
    color: rgb(21, 21, 182);
}