<div class="container-fluid">
  <h2 class="text-center">Create a new Quote</h2>
  <hr>
  <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
    <div class="form-group">

      <label for="name">Quote</label>
      <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="ngModel">

    </div>
    <div class="form-group">

      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.description" name="ngModel" required></textarea>
        

    </div>
    <div class="form-group">

      <label for="author">Author</label>
      <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="ngModel">

    </div>
    <div class="form-group">

      <label for="submittedby">Submitted by:</label>
      <input type="text" required class="form-control" id="Submittedby" [(ngModel)]="newQuote.submittedby" name="ngModel">

    </div>
    <div class="form-group">
      <label for="complete">Date</label>
      <input type='date' id="complete" required>

    </div>
    <button type="submit" class="btn btn-primary">Add Quote</button>
  </form>
</div>
